---
layout: default
---

{% assign lessons = site.data.vocabulary %}
{% for lesson in lessons %}
<h1>Lesson {{lesson[0]}}</h1>
<table>
    <tbody>
        {% for word in lesson[1] %}
        {% if word.type != 'C' and word.type != 'K' and word.type != 'M' %}
        <tr>
            {% if word.type == "V" %}
            {% assign verb = site.data.verbs | where: "id", word.kanji | first %}
            <td>{{word.prefix}}{{word.prefix_kana}}{{word.kana}}{{word.suffix}}{{word.suffix_kana}} <a href="{{site.baseurl}}/verbs#{{word.kanji}}"><sub>{{verb.group}}</sub></a></td>
            {% elsif word.type == "A" %}
            <td>{{word.prefix}}{{word.prefix_kana}}{{word.kana}}{{word.suffix}}{{word.suffix_kana}} <a href="{{site.baseurl}}/adverbs#{{word.kana}}"><sub>{{word.type}}</sub></a></td>
            {% else %}
            <td>{{word.prefix}}{{word.prefix_kana}}{{word.kana}}{{word.suffix}}{{word.suffix_kana}}</td>
            {% endif %}
            <td>{% if word.kanji != nil %}{{word.prefix}}{{word.prefix_kanji}}{{word.kanji}}{{word.suffix}}{{word.suffix_kanji}}{% endif %}</td>
            <td>{{word.meaning}}</td>
            <td>{% if word.kana != nil %}<a href="https://jisho.org/search/{{word.kanji | default: word.kana}}%23sentences">sentences</a>{% endif %}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

{% assign renshuu = lesson[1] | where: 'type', 'C' %}
{% if renshuu.size > 0 %}
<h3><b>〈<ruby>練<rt>れん</rt></ruby><ruby>習<rt>しゅう</rt></ruby>C〉</b></h3>
<table>
    <tbody>
        {% for word in renshuu %}
        <tr>
            <td>{{word.prefix}}{{word.prefix_kana}}{{word.kana}}{{word.suffix}}{{word.suffix_kana}}</td>
            <td>{{word.meaning}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% assign kaiwa = lesson[1] | where: 'type', 'K' %}
{% if kaiwa.size > 0 %}
<h3><b>〈<ruby>会<rt>かい</rt></ruby><ruby>話<rt>わ</rt></ruby>〉</b></h3>
<table>
    <tbody>
        {% for word in kaiwa %}
        <tr>
            <td>{{word.prefix}}{{word.prefix_kana}}{{word.kana}}{{word.suffix}}{{word.suffix_kana}}</td>
            <td>{{word.meaning}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% assign misc = lesson[1] | where: 'type', 'M' %}
{% if misc.size > 0 %}
<hr style="
  border-top: 3px dotted;
  border-left: none;
  border-bottom: none;
  border-right: none;
  margin-bottom: 30px;">
<table>
    <tbody>
        {% for word in misc %}
        <tr>
            <td>{{word.prefix}}{{word.prefix_kana}}{{word.kana}}{{word.suffix}}{{word.suffix_kana}}</td>
            <td>{{word.meaning}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endfor %}