---
layout: default
---

{% assign lessons = "" | split: ',' %}
{% for lesson in site.data.vocabulary %}
  {% assign lessons = lessons | push: lesson[0] %}
{% endfor %}

{% assign lessons = lessons | sort %}
{% for lesson in lessons %}
{% assign words = site.data.vocabulary[lesson] %}
<h1>Lesson {{lesson}}</h1>
<table>
    <tbody>
        {% for word in words %}
        {% if word.type != 'C' and word.type != 'K' and word.type != 'M' %}
        <tr>
            {% include furigana.html %}
            {% if word.type == "V" %}
            {% assign verb = site.data.verbs | where: "id", word.id | first %}
            <td>{{prefix}}{{kana}}{{suffix}} <a href="{{site.baseurl}}/verbs#{{word.id}}"><sub>{{verb.group}}</sub></a></td>
            {% elsif word.type == "A" %}
            <td>{{prefix}}{{kana}}{{suffix}} <a href="{{site.baseurl}}/adverbs#{{word.id}}"><sub>{{word.type}}</sub></a></td>
            {% else %}
            <td>{{prefix}}{{kana}}{{suffix}}</td>
            {% endif %}
            <td>{{word.meaning}}</td>
            <td>{% if word.id != nil %}<a href="https://jisho.org/search/{{word.id}}%23sentences">文</a>{% endif %}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>

{% assign renshuu = words | where: 'type', 'C' %}
{% if renshuu.size > 0 %}
<h3><b>〈<ruby>練<rt>れん</rt></ruby><ruby>習<rt>しゅう</rt></ruby>C〉</b></h3>
<table>
    <tbody>
        {% for word in renshuu %}
        {% include furigana.html %}
        <tr>
            <td>{{prefix}}{{kana}}{{suffix}}</td>
            <td>{{word.meaning}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% assign kaiwa = words | where: 'type', 'K' %}
{% if kaiwa.size > 0 %}
<h3><b>〈<ruby>会<rt>かい</rt></ruby><ruby>話<rt>わ</rt></ruby>〉</b></h3>
<table>
    <tbody>
        {% for word in kaiwa %}
        {% include furigana.html %}
        <tr>
            <td>{{prefix}}{{kana}}{{suffix}}</td>
            <td>{{word.meaning}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% assign misc = words | where: 'type', 'M' %}
{% if misc.size > 0 %}
<hr style="
  border-top: 3px dotted;
  border-left: none;
  border-bottom: none;
  border-right: none;
  margin-bottom: 30px;">
<table>
    <tbody>
        {% for word in misc %}
        {% include furigana.html %}
        <tr>
            <td>{{prefix}}{{kana}}{{suffix}}</td>
            <td>{{word.meaning}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endfor %}